.button-wrap {
  position: relative;
}

.block-wrap {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 40%;
}

.color {
  align-items: center;
  border: solid 3px #CCCCCC;
  box-shadow: 13px 21px 25px 1px rgba(0,0,0,0.53);
  display: flex;
  justify-content: center;
  width: 8em;
  -moz-box-shadow: 13px 21px 25px 1px rgba(0,0,0,0.53);
  -webkit-box-shadow: 13px 21px 25px 1px rgba(0,0,0,0.53);
}

.color-block {
  border: 2px solid black;
  height: 1em;
  margin-right: .4em;
  width: 1em;
}

.color-selection {
  display: flex;
  justify-content: space-around;
  grid-column: 1/8;
  grid-row: 1/6;
  padding-bottom: 2em;
  margin-top: 2em;
  width: 100%;
}

.create-head {
  color:  #0F292F;
  padding-bottom: .5em;
}


.dropdown-top {
  background: #0f292f;
  padding: .5em 1em;
  position: absolute;
  width: 10.2em;
}

.form-wrap {
  display: flex;
  width: 100%;
}

.delete-palette {
  cursor: pointer;
  width: 1em;
}


.generate-button {
  background-color: #14A098;
  border: solid 2px #CCCCCC;
  -webkit-box-shadow: 13px 11px 25px 1px rgba(0,0,0,0.53);
  -moz-box-shadow: 13px 11px 25px 1px rgba(0,0,0,0.53);
  box-shadow: 13px 11px 25px 1px rgba(0,0,0,0.53);
  color: #CCCCCC;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  grid-column: 3 / 6;
  grid-row: 6;
  height: 60%;
  margin-left: 15%;
  width: 70%;
}

.headline {
  align-items: center;
  background-color: #0F292F;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  justify-content: center;
  height: 6.5em;
}

.input {
  background-color: #0F292F;
  border: solid 2px #CCCCCC;
  color: #FEFFFF;
  font-size: 1em;
  padding: .5em 1em;
  position: relative;
  width: 10.2em;
  z-index: 1;
}

.input::placeholder {
  color: #CCCCCC;
  font-family: 'Open Sans', sans-serif;
}

.input-wrap {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5em;
  position: absolute;
  left: 1em; 
  bottom: 1em; 
}

.list-wrapper {
  padding-left: .3em;
  padding-top: .3em;
}

.lock-image {
  width: 2em;
}

.locked-in {
  box-shadow: none;
  transform: scale(0.9);
}

.logo {
  background-color: #14A098;
  border-radius: 3em;
  -webkit-box-shadow: 3px 6px 25px 11px rgba(0,0,0,0.53);
  -moz-box-shadow: 3px 6px 25px 11px rgba(0,0,0,0.53);
  box-shadow: 3px 6px 25px 11px rgba(0,0,0,0.53);
  width: 6em;
  color: #FEFFFF;
  display: flex;
  font-family: 'Kaushan Script', Cursive;
  font-size: 3em;
  justify-content: center;
  padding: .35em;
  text-shadow: 3px 2px #0F292F;
}

.name-block-wrap {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.palette {
  display: flex;
  justify-content: space-between;
  margin-top: .35em;
  margin-bottom: .35em;
  width: 90%;
}

.palette-name {
  color: #CCCCCC;
}

.palette-form {
  align-items: center;
  background-color: #14A098;
  border: solid 3px #CCCCCC;
  -webkit-box-shadow: 13px 21px 25px 1px rgba(0,0,0,0.53);
  -moz-box-shadow: 13px 21px 25px 1px rgba(0,0,0,0.53);
  box-shadow: 13px 21px 25px 1px rgba(0,0,0,0.53);
  display: flex;
  grid-column: 2 / 7;
  grid-row: 7 / 11;
  height: 60%;
  justify-content: flex;
  position: relative;
  margin-left: 15%;
  width: 70%;
}

.palettes-grid {
  background-color: #0F292F;
  display: grid;
  font-family: 'Open Sans', sans-serif;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 98%;
  width: 100%;
}

.palette-input {
  z-index: 1;
}

.project-menu {
  background: #CCCCCC;
  border: solid 2px #FEFFFF;
  display: none;
  max-height: 100px;
  padding: 0;
  position: absolute;
  overflow: scroll;
  top: 100%;
  width: 12.2em;
  }

.palettes-wrapper {
  background-color: #0F292F;
  height: 43em;
}

.project-index {
  color: #CCCCCC;
}

.project-list {
  background-color: #14A098;
  border: solid 3px #CCCCCC;
  -webkit-box-shadow: 13px 21px 25px 1px rgba(0,0,0,0.53);
  -moz-box-shadow: 13px 21px 25px 1px rgba(0,0,0,0.53);
  box-shadow: 13px 21px 25px 1px rgba(0,0,0,0.53);
  color: #CCCCCC;
  font-family: 'Open Sans', sans-serif;
  grid-column: 8 / -1;
  grid-row: 1/10;
  margin-top: 2em;
  height: 87.5%;
  overflow: scroll;
  width: 95%;
}

.project-name {
  color: #0F292F;
  font-size: 1.2em;
  font-weight: 700;
  text-decoration: underline;
}

.project-selector {
  align-items: center;
  border: solid 2px #CCCCCC;
  display: flex;
  justify-content: center;
  margin-top: 1em;
  left: 1em;
  position: absolute;
  top: 1.25em;
  z-index: 3;
}

.save-button {
  background-color: #0F292F;
  border: none;
  color: #CCCCCC;
  font-family: 'Open Sans', sans-serif;
  outline: none;
  position: absolute;
  right: .2em;
  bottom: .2em;
  z-index: 1;
}

.save-button:hover {
  color: #FEFFFF;
  cursor: pointer;
}

#save-palette-button {
  padding-bottom: .8em;
}

#save-project-button {
  top: .4em;
}

.select-project {
  color:  #0F292F;
  position: absolute;
  left: 1em;
  top: 1em;
}

.stack {
  background-color: #0F292F;
  color: #CCCCCC;
  cursor: pointer;
  display: block;
  position: relative;
  z-index: 3;
}


.stack:hover {
  color: #FEFFFF;
}

@media screen and (max-width: 1078px) {
 
  .color {
    height: 6em;
    width: 6em;
  }

.generate-button {
  font-size: 1em;
  grid-column: 1 / 3;
  grid-row: 4;
  margin-left: 3em;
  width: 80%;
}

.palette-form {
  grid-column: 1 / 4;
  grid-row: 5 / 9;
  margin-left: 3em;
}

.palettes-grid {
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 98%;
  width: 100%;
}

.color-selection {
  grid-column: 1/-1;
  grid-row: 1/-1;
  padding-bottom: 2em;
  margin-top: 2em;
  width: 100%;
}

.project-list {
  grid-column: 4 / -1;
  grid-row: 3/10;
  margin-top: 2em;
  height: 87.5%;
}

}

@media screen and (max-width: 757px) {
  
  .generate-button {
    grid-column: 1 / 5;
    margin-left: 1em;
  }

  .palette-form {
    grid-column: 4 / -1;
    grid-row: 4 / 8;
    margin-left: 3em;
  }
  
  .project-list {
    grid-column: 1 / -1;
    grid-row: 7 / -1;
    margin-left: 1em;
    width: 95%;
  }
}

@media screen and (max-width: 590px) {

  .generate-button {
    grid-column: 1 / -1;
    grid-row: 4/5;
    margin-left: 1em;
  }

  .palette-form {
    grid-column: 1 / -1;
    grid-row: 5 / 8;
    margin-left: 1em;
  }


}