.button-wrap {
  position: relative;
}

.color {
  background-color: white;
  border: 2px solid black;
  width: 8em;
}

.color-selection {
  display: flex;
  justify-content: space-around;
  grid-column: 1/4;
  grid-row: 1/8;
  padding-bottom: 2em;
  margin-top: 2em;
  width: 100%;
}

.generate-button {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  height: 2em;
  width: 20em;
}

.headline {
  align-items: center;
  background-color: #24305E;
  border-bottom: 4px solid #F76C6C;
  display: flex;
  justify-content: center;
  height: 6.5em;
}

.input {
  font-size: 1em;
  width: 15em;
}

.input-wrap {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.logo {
  background-color: white;
  border-radius: 3em;
  width: 6em;
  color: #F76C6C;
  display: flex;
  font-family: 'Kaushan Script', Cursive;
  font-size: 3em;
  justify-content: center;
  padding: .35em;
  text-shadow: 3px 2px #24305E;
}

.palette-form {
  align-items: center;
  background-color: magenta;
  display: flex;
  flex-direction: column;
  grid-column: 2 / 3;
  grid-row: 8 / 10;
}

.palettes-grid {
  background-color: #A8D0E6;
  display: grid;
  font-family: 'Open Sans', sans-serif;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 98%;
  width: 100%;
}

.palettes-wrapper {
  background-color: #A8D0E6;
  height: 43em;
}

.project-list {
  background-color: #24305E;
  grid-column: 4 / -1;
  grid-row: 1/10;
  margin-top: 2em;
  height: 100%;
  width: 95%;
}

.project-selector {
  align-items: center;
  display: flex;
  justify-content: center;
}

.save-button {
  border: none;
  font-family: 'Open Sans', sans-serif;
  outline: none;
  position: absolute;
  right: .2em;
  bottom: .2em;
}